:root {
  --main-white: #FFFFFF;
  --secondary-gray: #C0C0C0;
  --blue-button: #167BF7;
  --blue-button-effect: #3c92fa;
  --background: #00030C;
  --main-font: 'Inter';
}

body {
  background-color: var(--background);
  color: var(--main-white);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.principal {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__button {
  background-color: var(--blue-button);
  border-radius: 5px;
  padding: 1em;
  color: var(--main-white);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.container__button:hover {
  background-color: var(--blue-button-effect);
  color: var(--background)
}

.secondary_button {
  background-color: transparent;
  border: 2px solid var(--main-white);
  border-radius: 5px;
}

.container__title {
  font-size: 1.75rem;
  font-weight: 700;
}

.container__warning {
  font-size: 0.75rem;
  color: var(--secondary-gray)
}

.container__image {
  margin: 1em 0 2em 0;
}

.container__box {
  margin: 0 6em;
}

.secondary__image {
  width: 80%;
}

.secondary {
  align-items: center;
  margin: 0 10em;
}

.description__title {
  font-weight: 700;
  font-size: 3rem;
  color: var(--main-white);
  margin-bottom: 0.1em;
}

.description__text {
  color: var(--secondary-gray);
}

.secondary__button {
   display: inline-block;
   margin-top: 1em;
}

.container__description {
  padding: 2em;
}

.devices {
  text-align: center;
}

.devices__title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-white)
}

.devices__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.list__item {
  font-size: 2rem;
  color: var(--secondary-gray)
}

.footer {
  text-align: center;
  margin: 5em 3em;
}

.footer__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
}

.list__link {
  margin: 0 1em;
}

.link__text {
  text-decoration: none;  
  color: var(--main-white);
}

.link__text:hover {
  color: var(--blue-button)
}

.footer__text {
  color: var(--secondary-gray);
  margin: 1em 0;
  font-size: 0.875rem;
}